body {
    margin: 0;
    background: radial-gradient(circle at top, #0f2027, #203a43, #000);
    font-family: 'Poppins', sans-serif;
    color: white;
}

/* Full Screen Layout */
.player {
    display: flex;
    height: 100vh;
    width: 100vw;
    padding: 25px;
    gap: 20px;
    box-sizing: border-box;
}

/* Glass Effect */
.glass {
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(18px);
}

/* LEFT SECTION */
.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* CENTER SECTION */
.center {
    flex: 1.3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* RIGHT SECTION */
.right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Progress Bar */
.progress-container {
    width: 100%;
    height: 10px;
    background: rgba(255,255,255,0.2);
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

#progress {
    height: 100%;
    width: 0%;
    background: linear-gradient(to right, cyan, violet);
    border-radius: 10px;
}

/* Controls */
.controls button {
    background: linear-gradient(135deg, cyan, violet);
    border: none;
    padding: 18px 22px;
    border-radius: 50%;
    font-size: 22px;
    margin: 12px;
    cursor: pointer;
    transition: 0.2s;
}

.controls button:hover {
    transform: scale(1.2);
    box-shadow: 0 0 18px cyan;
}

/* Extra Buttons */
.extra button {
    background: transparent;
    border: 2px solid cyan;
    padding: 8px 16px;
    color: cyan;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
}

/* Playlist */
ul {
    margin-top: 10px;
    padding: 0;
    overflow-y: auto;
}

li {
    list-style: none;
    padding: 10px;
    margin: 6px 0;
    background: rgba(255,255,255,0.12);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

li:hover {
    background: cyan;
    color: black;
}
